    header .header-container .header-text {
        font-size: 3.2rem;
    }
    .moneygirl-title {
        font-size: 9.6rem;
    }
    footer .footer-leftsection a {
        font-size: 2.4rem;
    }