:root {
    --black: #000000;
    --gray: #777777;
    --white: #FFFFFF;
    --sm: 12px;
    --md: 16px;
    --lg: 20px;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}
html {
    font-size: 62.5%;
}
body {
    max-width: 100vw;
    min-height: 100vh;
    background: palegoldenrod;
    font-family: 'Quicksand', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-end;
    overflow-x: hidden;
}

main {
    background: goldenrod;
    width: 90%;
    min-height: 80vh;
    line-height: 1.25;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main span {
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, .33);
}

main > span, main> div, h2 ~ div span, footer ul li a {
    font-size: 1.2rem;
}

main .smash__title {
    font-size: 2.8rem;
    width: 100%;
    height: max-content;
}

main .spanfa {
    background: silver;
    border-radius:10rem;
    color: red;
    padding: 1vh 1vw;
}

main .spanfa:hover {
    color: blue;
    background: pink;
}

main .spanfa a:hover {
    background: none;
    color: var(--black);
}

main .spanve {
    background: turquoise;
    border-radius: 10rem;
    color: var(--black);
    padding: 1vh 1vw;
}

main .spanve:hover {
    color: var(--white);
    background: var(--black);
}

main .spanve a:hover {
    background: none;
    color: yellow;
}

main div {
    display: grid;
    grid-template-columns: 1.25fr 1fr;
}

main div a {
    justify-self: end;
}

main div span {
    justify-self: start;
}

h2 ~ div a {
    background: khaki;
    box-shadow: 0px 0px 4px 4px rgba(128, 128, 128, .5);
    width: max-content;
    color: black;
    border-radius: 10rem;
    padding: 1vh 1vw;
    margin-right: 10%;
}

main a:hover {
    background: darkred;
    color: #fff;
    text-decoration: underline;
}

h2 ~ div span {
    width: max-content;
    border-radius: 10rem;
    padding: 1vh 1vw;
}

.ssc1 {
    background: lightgoldenrodyellow;
}

.ssc1:hover {
    background: yellowgreen;
}

.ssc2 {
    background: yellow;
}

.ssc2:hover {
    background: gold;
}

.scw {
    background: tomato;
}

.scw:hover {
    background: orange;
}

.scg, .sbit, .sgrid1 {
    background: var(--hospital-green);
}

.scg:hover, .sbit:hover, .sgrid1:hover {
    background: darkcyan;
}

.sgrid2 {
    background: limegreen;
}

.sgrid2:hover {
    background: lightgreen;
}

.ajs1 {
    background: cyan;
}

.ajs1:hover {
    background: darkcyan;
}

.js1 {
    background: var(--very-light-pink);
}

.js1:hover {
    color: var(--white);
    background: lightcoral;
}

main > :not(img) {
    margin: 1.6rem 0.4rem;
}

.separator {
    width: 75%;
    border-top: solid 1px var(--black);
}

footer {
    width: 100%;
    height: 5vh;
    background: var(--black);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

footer ul {
    width: 80%;
    display: flex;
    flex-direction: column;
}

footer ul li a {
    color: peru;
}

footer ul li a:hover {
    color: var(--white);
}