    body {
        font-size: 1.92rem;
    }
    .titular {
        margin: 1.6rem;
    }
    .container__h2 {
        margin-bottom: 1.2rem;
    }
   
    .standings {
        margin-bottom: 0.8rem;
    }