* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    max-width: 100vw;
    min-height: 100vh;
    font-size: 1.2rem;
}

main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: beige;
    overflow: hidden;
}

a {
    text-decoration: none;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}

.encabezado, .piedepagina {
    width: 100%;
    height: 4.4vh;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headnav, .footnav {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    text-align: center;
}

.headnav ul, .footnav ul {
    list-style: none;
}

.headnav .level1 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.headnav .level1 > li {
    position: relative;
    height: 100%;
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    border: solid 1px black;
    background: red;
    transition: background .5s;
}

.headnav .level1 > li:hover {
    background: sandybrown;
}

.headnav li > ul {
    width: 100%;
    position: absolute;
    top: -700%;
    max-height: 0;
    overflow: hidden;
    transition: top .5s, max-height .5s;
}

.headnav li:hover > ul {
    top: 100%;
    max-height: 1234px;
    overflow: visible;
}

.headnav ul li a {
    display: block;
    padding: 0.2rem;
    background: palegoldenrod;
    border-radius: 24rem;
    border: solid 1px sandybrown;
    transition: background .5s, border .5s, color .5s;
}

.headnav ul li a:hover {
    background: goldenrod;
    border: solid 1px maroon;
    color: black;
}

.headnav .level1 ul li {
    position: relative;
}

.headnav .level1 ul ul {
    max-width: 0;
    top: 0;
    left: 100%;
    transition: all 0.5s;
}

.headnav .level1 ul li:hover ul {
    max-width: 1234px;
    transition: all 2s;
}

main {
    width: 100%;
}

.titular {
    margin: 2.0rem;
    text-align: center;
}

.tournament-container {
    text-align: center;
}

.tournament-container .tournament-img {
    margin: 2.5vh 0;
    width: 95%;
    max-width: 1080px;
}

.container, .container__section {
    text-align: center;
}

.container__h2, .placements {
     margin-bottom: 0.6rem;
}

[class^="box202"] > [class^="h3_202"] + .placements ~ .eighthplace {
    border-bottom: solid 1px black;
}

.placements {
    margin: 0 auto 1.2rem;
    width: 95%;
    border: solid 1px black;
}

.placements:hover {
    background: khaki;
    transition: background .5s;
}

.container__1h3, .container__2h3 {
    margin: 0.6rem 0;
}

.placements img, .ranking2021_2022 img {
    width: 16px;
    height: 16px;
}

.ranking2021_2022{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0.8rem;
}

.box2021, .box2022 {
    width: 100%
}

.link2021_2022desktop {
    display: none;
}

.box2022 > .container__2h3 + .placements ~ .eighthplace {
    margin-bottom: 0.6rem;
}

.piedepagina {
    margin-top: auto;
    width: 100%;
    height: 4.4vh;
}

.piedepagina .footnav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    background: slateblue;
}

.piedepagina .footnav > li {
    position: relative;
    width: 100%;
    height: 100%;
    flex: auto;
    background: orchid;
    border: solid 1px blue;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.piedepagina .footnav > li:hover {
    background: violet;
}

.piedepagina ul ul  {
    width: 100%;
    position: absolute; 
    bottom: -300%;
    max-height: 0;
    overflow: hidden;
    transition: bottom .5s, max-height .5s;
}

.piedepagina ul li:hover > ul {
    bottom: 100%;
    max-height: 1234px;
    overflow: visible;
}

.piedepagina .footnav ul li a {
    display: block;
    background: royalblue;
    border: solid 1px #fff;
    color: white;
    padding: 0.2rem;
    border-radius: 24rem;
    transition: background .5s, border .5s, color .5s;
}

.piedepagina .footnav ul li a:hover {
    background: skyblue;
    border: solid 1px #000;
    color: #000;
}