* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}
html {
    font-size: 62.5%;
}
body {
    width: 100vw;
    min-height: 100vh;
    font-size: 1.5rem;
}
main {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: beige;
    overflow: hidden;
}
a:hover {
    color: darkblue;
}

.encabezado, .piedepagina {
    width: 100%;
    height: 3.6vh;
    background: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}
.headnav, .footnav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    list-style: none;
    text-align: center;
}
.ssb64, .melee, .pm, .ulti {
    width: 24%;
    background: red;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: background .5s;
}

.ssb64:hover, .melee:hover, .pm:hover, .ulti:hover {
    background: sandybrown;
    transition: background .5s;
}

li > a {
    width: max-content;
    height: max-content;
}

.ssb64 a, .melee a, .pm a, .ulti a {
    width: 100%;
    height: max-content;
    background: palegoldenrod;
    border-radius: 24rem;
    border: solid 1px maroon;
    position: relative;
    top: -99rem;
    transition: all .5s;
}
.ssb64:hover a, .melee:hover a, .pm:hover a, .ulti:hover a {
    top: 0;
    transition: all .5s;
}

.ssb64:hover > a:hover, .melee:hover a:hover, .pm:hover a:hover, .ulti:hover a:hover {
    background: goldenrod;
    color: black;
    transition: all .5s;
}
.titular {
    margin: 2.0rem;
    text-align: center;
}
.placements:hover {
    background: khaki;
    transition: background .5s;
}
.container, .container__section {
    text-align: center;
}
.container__h2, .placements {
     margin-bottom: 0.6rem;
}

.box2021 > .container__1h3 + .placements ~ .eighthplace {
    border-bottom: solid 1px black;
}

.placements {
    border: solid 1px black;
}
.container__1h3, .container__2h3 {
    margin: 0.6rem 0;
}

.placements img, .ranking2021_2022 img {
    width: 16px;
    height: 16px;
}
.lastp {
    margin: 0;
}
.ranking2021_2022{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 0.8rem;
}

.box2021, .box2022 {
    width: 100%
}

.link2021_2022desktop {
    display: none;
}

.box2022 > .container__2h3 + .placements ~ .eighthplace {
    margin-bottom: 0.6rem;
}

.piedepagina {
    margin-top: auto;
}
 .footnav {
    background: slateblue;
}
 .footnav > li {
    width: 25%;
    background: orchid;
    border: solid 1px blue;
    overflow: hidden;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
} 
.footnav > li:hover {
    background: cyan;
    transition: all .5s;
}
.fblink a, .ytlink a, .github a  {
    width: 100%;
    height: max-content;
    background: lightblue;
    border: solid 1px white;
    border-radius: 25rem;
    position: relative; 
    bottom: -99rem;
    transition: all .5s;
}

.footnav > li:hover {
    overflow: visible;
}

.fblink:hover a, .ytlink:hover a, .github:hover a {
    bottom: 0;
    transition: all .5s;
}

.fblink:hover a:hover, .ytlink:hover a:hover, .github:hover a:hover {
    background: royalblue;
    color: white;
}